node_modules/
dist/
dist-ssr/
vite-project-client/node_modules/
vite-project-client/dist/
api/node_modules/


.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*


.env
.env.*.local
api/.env
vite-project-client/.env
vite-project-client/.env.*.local


api/render.yaml
